// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  margin-top: $line-height;
  margin-bottom: $line-height;
  justify-content: center;

  &__item {
    display: block;
    padding: 0.4em 0.2em;
    min-width: 2em;
    text-decoration: none;
    text-align: center;
    color: $text-color;

    & + & {
      border-left: 0;
      margin-left: 10px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        color: #ee2430;

        #{$block-name}__icon {
          stroke: #ee2430;
        }
      }
    }

    &--active {
      background-color: #ee2430;
      color: #fff;
    }
  }

  &__icon {
    stroke: #304a9e;
  }
}
