// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
  }

  &__top {
    padding: 15px 0;
  }

  &__nav {
    background: #2c4fc0;

    #{$block-name}__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    display: flex;
  }

  &__logo {
    margin-right: 30px;
    flex-shrink: 0;
  }
}
