// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  @media (max-width: ($screen-lg - 1)) {
    padding-top: 50px;
  }

  &__inner {
    @include container;
  }

  &__top {
    padding: 15px 0;
  }

  &__nav {
    background: #2c4fc0;

    @media (max-width: ($screen-lg - 1)) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;

      #{$block-name}__inner {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    #{$block-name}__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__content {
    display: flex;

    @media (max-width: ($screen-xl - 1)) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    margin-right: 30px;
    flex-shrink: 0;

    .logo__caption {
      color: #3a3c42;
    }
  }
}
