// В этом файле должны быть стили для БЭМ-блока layout-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-page {

  $block-name:                &; // #{$block-name}__element

  @include container;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: $screen-xl) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &--contacts {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__container {
    @include row;
  }

  &__sidebar {
    @include col();
    @include col(xl, 3);

    @media (max-width: $screen-xl) {
      display: none;
    }
  }

  &__main {
    @include col();
    @include col(xl, 9);
  }

  &__content {

    &--sm {
      max-width: 650px;
    }

    &--box {
      background: #fff;
      border: 1px solid #ccd4eb;
      padding: 5px 40px 30px 40px;

      @media (max-width: ($screen-md - 1)) {
        padding: 5px 15px 15px 15px;
      }
    }
  }

}
