// В этом файле должны быть стили для БЭМ-блока layout-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-page {

  $block-name:                &; // #{$block-name}__element

  @include container;
  padding-top: 30px;
  padding-bottom: 30px;

  &--contacts {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__sidebar {
    width: 280px;
    flex-shrink: 0;
    padding: 0 15px;

    @media (max-width: $screen-xl) {
      display: none;
    }
  }

  &__main {
    flex-grow: 1;
    padding: 0 15px;
  }

  &__content {

    &--sm {
      max-width: 650px;
    }

    &--box {
      background: #fff;
      border: 1px solid #ccd4eb;
      padding: 5px 40px 30px 40px;
    }
  }

}
