// В этом файле должны быть стили для БЭМ-блока main-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-carousel {

  $block-name:                &; // #{$block-name}__element

  padding: 0 60px;

  @media (max-width: $screen-lg) {
    padding: 0;
  }

  .owl-stage-outer {
    // padding: 0 60px;
  }

  .owl-nav {
    .owl-prev,
    .owl-next {

      svg {
        stroke: #304a9e;
      }
    }
  }

  .owl-dots {
    display: none;
  }

  &.owl-carousel .owl-nav .owl-prev {
    margin-top: -15px;
  }

  &.owl-carousel .owl-nav .owl-next {
    margin-top: -15px;
  }

  &__caption {
    color: #10225d;
    font-size: 16px;
    padding: 15px 0;
  }

}
