// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;

  &__image {
    flex-shrink: 0;
  }

  &__caption {
    padding: 15px 30px;
    color: #606472;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;

    hr {
      margin-top: 7px;
      margin-bottom: 10px;
      border: 0;
      border-top: 1px solid #bdc6e1;
    }
  }

  @media (max-width: ($screen-sm - 1)) {

    margin-bottom: 15px;

    &__caption {
      font-size: 12px;
      padding: 10px 15px;
    }
  }
}
