// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
  }

  &__top {
    background: #07102f;
    color: #8e96b1;
    padding: 20px 0;
  }

  &__bottom {
    background: #040b21;
    color: #545b72;
    padding: 20px;
  }

  &__content {
    @include row;

    .footer-logo {
      @include col();
      @include col(lg, 5);
    }
    .footer-info {
      @include col();
      @include col(lg, 7);
    }
  }
}
