// В этом файле должны быть стили для БЭМ-блока sidebar-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar-nav {

  $block-name:                &; // #{$block-name}__element

  max-width: 300px;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {

    position: relative;
    margin-bottom: -1px;

    &--active {

      #{$block-name}__link {
        background: #10225d;
        border-color: #10225d;
        color: #fff;
      }
    }
  }

  &__link {
    border: 1px solid #ccd3eb;
    font-size: 15px;
    color: #10225d;
    background: #fff;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 1.2em 1.7em;

    &:hover,
    &:focus {
      background: #ee2430;
      border-color: #ee2430;
      color: #fff;
    }
  }

}
