// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.owl-carousel {
  // По умолчанию в сборку берется стилевой файл этого блока, предоставляемый
  // автором пакета (см. файл настройки проекта, там подключается
  // node_modules/owl.carousel/dist/assets/owl.carousel.css).
  // Надо стилизовать — копипастить из исходника и убирать исходник из сборки.

  .owl-nav {
    button {
      width: 40px;
      height: 40px;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      svg {
        stroke: #fff;
      }

      &:hover,
      &:focus {

        svg {
          stroke: #ee2430;
        }
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }

  .owl-dots {

    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;

    .owl-dot {

      display: inline-block;
      margin: 5px;
      background: none;

      &.active {
        span {
          opacity: 1;
        }
      }

      span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: block;
        background: #fff;
        opacity: 0.5;
      }
    }
  }
}
